body {
  background: #4b6cb7;
  color: #fff;
  font-size: 1.2em;
  min-height: 100%;
}
body:focus {
  outline: none;
}
body:active {
  outline: none;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  min-height: 100%;
}
header .logo {
  width: 100px;
}
header .ant-menu {
  position: relative;
  top: 25px;
}
header .ant-menu-horizontal > .ant-menu-item > a,
header .ant-menu-item {
  color: #fff;
  font-size: 1.2em;
}
.content {
  padding: 3em 0;
}
.content h1,
.content h2 {
  color: #fff;
}
.content h1 {
  font-size: 3em;
  margin-bottom: 0;
}
.content h2 {
  font-size: 1.25em;
  margin-bottom: 2em;
}
.content label {
  color: #fff;
}
.content input[type="text"],
.content input[type="password"],
.content textarea {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border-radius: 3px;
  padding: 1em;
  outline: 0;
}
.content textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 500px;
}
.content .input-effect {
  position: relative;
  margin: 0 0 30px;
}
.content .input-effect .ant-input-password input {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
}
.content .input-effect .ant-input-suffix i {
  color: #fff;
}
.content .expiry {
  display: none;
}
.pagination {
  text-align: center;
}
.pagination .ant-pagination-item-link,
.pagination .ant-pagination-item {
  background-color: transparent;
}
.pagination .ant-pagination-item-link a,
.pagination .ant-pagination-item a {
  color: #fff;
}
.pagination .ant-pagination-item-link:hover,
.pagination .ant-pagination-item:hover {
  border: 1px solid #fff;
}
.pagination .ant-pagination-item-active {
  background-color: #fff;
  border: 1px solid #fff;
}
.pagination .ant-pagination-item-active a {
  color: #4b6cb7;
}
.settings h1,
.settings h2 {
  margin-bottom: 0.5em;
}
.settings .delete,
.settings .logout,
.settings .update {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.settings .delete .button {
  background-color: rgba(255,0,0,0.25);
}
.no-data {
  color: #fff;
}
footer {
  height: 100px;
  border-top: 2px solid #fff;
  text-align: center;
  padding: 35px;
}
footer .anticon-heart {
  color: #f00;
  font-size: 1.5em;
}
