.check {
  padding-bottom: 30px;
  font-size: 1.25em;
  text-align: center;
}
.check .success {
  text-align: center;
  display: block;
  margin-top: 30px;
  width: 100%;
}
.check svg,
.check img {
  width: 30%;
}
.expiry-info {
  text-align: center;
}
.expiry-info .expiry-details {
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: rgba(255,255,255,0.25);
  border-radius: 3px;
}
.passcode button.create-another {
  margin-top: 30px;
  width: 25%;
  left: 37.5%;
  text-align: center;
  background-color: rgba(0,255,0,0.25);
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes underline {
  to {
    width: 100%;
  }
}
@-webkit-keyframes underline {
  to {
    width: 100%;
  }
}
@-o-keyframes underline {
  to {
    width: 100%;
  }
}
@keyframes underline {
  to {
    width: 100%;
  }
}
@-moz-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@-o-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
