.login.container {
  position: relative;
  height: 550px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 480px;
  border: 2px solid #fff;

  form {
    button.button {
      top: 15px;
    }
  }

  .grecaptcha-badge {
    bottom: -66px!important;
    box-shadow: none!important;
  }

  .rc-anchor-invisible {
    background-color: #fff!important;
  }

  button.ghost {
    background-color: #4b6cb7;
    left: 0;
  }

  &.right-panel-active {
    .sign-in-container {
      transform: translateX(100%);
    }
    .sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: show 0.6s;
      background-color: #4b6cb7;
      height: 100%;
      height: calc(100% - 85px);
    }
    .overlay-container {
      transform: translateX(-100%);
    }
    .overlay {
      transform: translateX(50%);
    }
    .overlay-left {
      transform: translateX(0);
    }
    .overlay-right {
      transform: translateX(20%);
    }
  }
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  .sign-in-container {
    left: 0;
    top: 15px;
    width: 50%;
    z-index: 2;
    height: 100%;
    height: calc(100% - 85px);
    padding: 20px 50px;
    h1 {
      padding-top: 15px;
      margin: 0;
      padding-bottom: 20px;
    }
  }
  .sign-up-container {
    left: 0;
    top: 15px;
    width: 50%;
    opacity: 0;
    z-index: 1;
    height: 100%;
    height: calc(100% - 85px);
    padding: 20px 50px;
    h1 {
      padding-top: 15px;
      margin: 0;
      padding-bottom: 20px;
    }
  }

  @keyframes show {
    0%, 49.99% {
      opacity: 0;
      z-index: 1;
    }
    50%, 100% {
      opacity: 1;
      z-index: 5;
    }
  }
  .overlay-container {
    background-color: #556893;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    height: 100%;
    height: calc(100% - 70px);
  }

  .overlay {
    color: #fff;
    background: rgba(0,0,0,0.25);
    position: relative;
    left: -100%;
    height: 100%;
    // height: calc(100% - 85px);
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    h2 {
      margin-bottom: 0;
    }
  }
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .overlay-left {
    transform: translateX(-20%);
  }
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .social-container {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    span {
      display: inline-block;
      text-align: center;
      color: #556893;
      padding-right: 10px;
    }
    .oauth {
      display: inline-block;
    }
    a {
      color: #4b6cb7;
      border: 1px solid #DDDDDD;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
    }
  }
}