@media only screen and (max-width:880px) {
  h1 {
    font-size: 2em;
    margin-top: 0;
  }

  .content h1 {
    font-size: 2em;
  }

  h2, .content h2 {
    font-size: 1em;
  }

  .ant-layout-header {
    padding: 0 25px;
    height: 100px;
    .am-navbar {
      height: 100%;
      background-color: transparent;
    }
  }

  .content {
    padding: 25px;
    .input-effect {
      margin: 30px 0 30px;
      .fancy-input {
        &:before {
          width: 100%!important;
          text-align: center!important;
          height: 55px;
          padding-top: 10px;
        }

        .data-to-copy {
          display: block;
          padding: 50px 0 20px;
          text-align: center;
        }
      }
    }
    .passcode, .decrypted-data, .dashboard { 
      .input-effect {
        span.fancy-input {
          padding-left: 0!important;
          padding-right: 0!important;
          width: 100%;
        }
      }
    }
    .dashboard {
      .ant-card {
        margin-bottom: 30px;
      }
      .input-effect {
        .fancy-input {
          width: 6em;
          padding-left: 7em;
          padding-right: 7em;
          padding-top: 16px;
          &:before {
            padding: 18px;
            text-align: center;
            width: 5em;  
          }  
        }
      }
    }
  }

  .anticon-menu {
    font-size: 2em;
    vertical-align: middle;
  }

  .ant-calendar-picker {
    width: 50%;  
    float: none!important;
  }

  .activation {
    .activation-description {
      width: 100%;
    }
    button {
      position: unset;
      width: 100%;
    }
  }

  .landing {
    .password-expiry-container {
      .input-effect {
        margin-bottom: 0;
      }
      .ant-calendar-picker {
        position: relative; 
        top: 0; 
        right: 0; 
        cursor: pointer;
        width: 100%;
        margin: 30px 0 0!important;
      }
    }
    .ant-calendar-picker-input.ant-input {
      height: 60px;
    }
  }

  button.button.copy {
    width: 90%;
    width: calc(100% - 30px);
    left: 15px;
  }

  .login.container {
    height: 700px;

    .input-effect {
      margin: 15px 0 15px;  
    }
    
    .sign-up-container, .sign-in-container {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      height: calc(100% - 70px);
      h1 {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .overlay-container {
      left: 0;
      width: 100%;
      height: 200px;
      top: unset;
      bottom: 70px;
      .overlay {
        left: 0;
        height: 100%;
        width: 100%;
        background: none;
        .overlay-panel {
          top: unset;
          height: 200px;
          bottom: 0;
          width: 100%;
          background: none;
        }  
      }
    }
    .overlay-left {
      transform: translateX(-100%);
    }

    &.right-panel-active {
      .sign-in-container {
        transform: translateX(100%);
      }
      .overlay-left {
        transform: translateX(0%);
      }
      .sign-up-container {
        transform: translateX(0%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
        background-color: #4b6cb7;
        height: 100%;
        height: calc(100% - 85px);
      }
      .overlay-container {
        transform: translateX(0%);
      }
      .overlay {
        transform: translateX(0%);
        bottom: 0;
      }
      .overlay-left {
        transform: translateX(0%);
      }
      .overlay-right {
        transform: translateX(-100%);
      }
    }
  }
}
