.ant-layout, .ant-layout-header, .ant-menu {
  background: transparent;
}

.ant-layout-header {
  height: 100px;
  border-bottom: 2px solid white;
}

.ant-menu-horizontal, 
.ant-menu-horizontal > .ant-menu-item-selected, 
.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-item {
  border-bottom: 0;
}

a:hover, a:focus, a:active {
  outline: 0;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

a, .ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #fff;
}

.ant-collapse-borderless {
  background-color: rgba(255,255,255,0.1);
  .ant-collapse-item > .ant-collapse-header {
    font-size: 1.5em;
    color: #fff;  
  }
  .ant-collapse-content {
    font-size: 1.25em;
    color: #fff;  
  }

  .ant-collapse-item:last-of-type {
    border-bottom: none;  
  }
}

.ant-calendar {
  top: 2px;
  .ant-calendar-input-wrap {
    height: 42px;
    padding: 10px;
    .ant-calendar-footer {
      display: none;
    }
  }
}

.landing {
  .ant-calendar-picker {
    width: 34%;
    float: right;
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
  }
}

.ant-calendar-picker-input {
  height: 40px;
  background: rgba(255,255,255, 0.25);
  border: 0;
  color: #fff;
  cursor: pointer;
}
.ant-calendar-picker-clear {
  display: none;
}
::placeholder, .anticon {
  color: #fff;
}

.ant-layout-content {
  .ant-row {
    margin-bottom: 15px;
    .ant-card {
      background: transparent;
      color: #fff;
      border: 1px solid rgba(255,255,255,0.5);
    }
    .ant-card-head, .ant-card-extra {
      background: transparent;
      color: #fff;
    }
  }
}

.ant-alert {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 30px;
  i, span.ant-alert-message, svg {
    color: #fff;
  }
}